{% extends 'base.html' %}
{% load static %}
{% block main %}
<div id="main">
    <h1>Добро пожаловать</h1>
    <img id="main_img" src="{% static "img/PortretKosmVA.jpg"%}">
    <h2 class="citation">«Орудием и посредником воспитания должна быть любовь»
        В.Г. Белинский</h2>
    <p>Вашему вниманию представлен персональный сайт педагога дошкольного образования,
        Космаковой Веры Александровны. На нём вы сможете найти много интересных разработок,
        методик обучения и «фишек» для работы с детьми дошкольного возраста. Добро пожаловать!😄<p>
</div>
{% endblock %}